[submodule "src/cherish/Images/FA"]
	path = src/cherish/Images/FA
	url = https://github.com/vicrucann/Font-Awesome-SVG-PNG.git
[submodule "src/cherish/Images/OI"]
	path = src/cherish/Images/OI
	url = https://github.com/vicrucann/open-iconic.git
[submodule "src/libNumerics/CurveFitting"]
	path = src/libNumerics/CurveFitting
	url = https://github.com/vicrucann/CurveFitting.git
[submodule "src/third_party/eigen"]
	path = src/third_party/eigen
	url = https://github.com/vicrucann/eigen.git
[submodule "src/libNumerics/ParallelTransportFrame"]
	path = src/libNumerics/ParallelTransportFrame
	url = https://github.com/vicrucann/ParallelTransportFrame.git
